<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mytoast" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>MyToast</name>
  <js-module name="MyToast" src="www/MyToast.js">
    <clobbers target="MyToast" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MyToast">
        <param name="android-package" value="com.test.android.MyToast" />
      </feature>
    </config-file>
    <source-file src="src/android/MyToast.java" target-dir="src/com/test/android" />
  </platform>
</plugin>